$primary-color: #DA291C;
$primary-dark: #1C191A;
$background-color: #F6E7D8;

body{
  position: relative;
}

.EscapeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}