$primary-color: #DA291C;
$primary-dark: #1C191A;
$background-color: #F6E7D8;

.bookClickedDiv{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(182, 182, 182, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBookPopOutDiv {
  display: flex;
  border: 5px solid $primary-dark;
  border-radius: 10px;
  background-color: $background-color;
  max-height: 40vh;
  max-width: 90vw;
  align-items: center;
  position: relative;


  img {
    max-height: 240px;
    margin: 0 1rem;
  }

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
  }
}

.addBookPopOutForm {
  margin: 1rem 1rem 1rem 0;
  min-width: 90vw;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2 {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 1rem;
    text-align:center;
  }

  input {
    margin-bottom: 1rem;
    overflow: none;
  }

  .checkboxDiv {
    display: flex;
    align-items: center;
 }
  .addBookReviewInputRadio {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem 0 0;
  }

  label {
    font-size: 1.2rem;
  }

  .addBookPopOutFormBtns {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;

    button {
      background-color: $primary-dark;
      color: $background-color;
      font-size: 1.3rem;
      border-radius: 10px;
      border:none;
      padding: 0.5rem 1rem;
    }

  }
  .addBookReviewInput {
    height: 100px;
    width: 60vw;
  }

  .reviewPopOutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0 0 1rem 0;
    }
  }
}

.searchHeader {
  color: $primary-dark;
  font-weight: 300;
  border-bottom: 5px solid $primary-dark;
  margin: 1rem 2.2rem;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.inputAndBtnContainer {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.searchInput {
  padding: 10px 0 10px 5px;
  flex: 3;
  background-color: $background-color;
  border: none;
  border: 5px solid $primary-dark;
  border-radius: 10px 0px 0px 10px;
}

.searchBtn {
  padding: 10px 0 10px 5px;
  flex: 1;
  border: none;
  background-color: $primary-dark;
  color: $background-color;
  font-size: 1.3rem;
  border: 5px solid $primary-dark;
  border-radius: 0px 10px 10px 0px;
}


.buttonContainer {
  display: flex;
  justify-content: center;

}

#bookTitleBtn,
#authorBtn {
  margin: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0rem;
  width: 6rem;
  font-weight: bold;
  font-size: 1rem;
}

.selectedSearchMethod {
  background-color: $primary-color;
  color: $background-color;
}

.otherSearchMethod {
  background-color: $primary-dark;
  color: $background-color;
}