$primary-color: #DA291C;
$primary-dark: #1C191A;
$background-color: #F6E7D8;

.friendsBookClickedDiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(182, 182, 182, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
} 

.friendsBookPopOutDiv {
  display: flex;
  position: relative;
  border: 5px solid $primary-dark;
  border-radius: 10px;
  background-color: $background-color;
  max-height: 40vh;
  min-height: 40vh;
  min-width: 90vw;
  max-width: 90vw;
  align-items: center;

}

.SelectedBookDisplayDiv {
  position: relative;
  margin: 0 1rem;
  
  img {
    max-height: 240px;
  }

  .SelectedBookStar {
    color: gold;
    height: 2rem;
    width: 2rem;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 2px;
  }

}

.friendsBookPopOutContentContainer {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5rem;

  h3 {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
  }
  p {
    margin: 0;
  }

  input {
    margin-bottom: 1rem;
    overflow: none;
  }
}

.requestBookBtn {
  background-color: $primary-dark;
  color: $background-color;
  font-size: 1.2rem;
  border-radius: 10px;
  border:none;
  padding: 0.5rem;
}

.requestedBookBtn {
  font-size: 1.2rem;
  border-radius: 10px;
  border:none;
  padding: 0.5rem;
}
.FriendsBookEscapeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}